// 로그인
.wrapper {
  width: 100%;
  height: 100%;
  &.main {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    padding-top: 64px;
  }
  &.sub {
    padding: 0 32px;
    padding-top: 64px;
    .info_wrap {
      margin-bottom: 20px;
      .imgwrap {
        width: 66px;
      }
    }
  }
  .info_wrap {
    margin-bottom: 48px;
    .imgwrap {
      margin-bottom: 24px;
    }
    h2 {
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 8px;
      line-height: 160%;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: #696e76;
      line-height: 160%;
    }
  }

  .input_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 56px;

    .login {
      width: 100%;

      p {
        font-size: 2.5em;
        margin-bottom: 32px;
        line-height: 150%;
      }

      .loginform_wrap {
        form {
          position: relative;

          input {
            border: 1px solid #dde1e4;
            width: 100%;
            border-radius: 4px;
            padding: 12px 42px;
            font-size: 16px;

            &:focus {
              outline: none;
              border: 1px solid #016ff3;

              &::placeholder {
                color: #484b51;
              }
            }

            &::placeholder {
              font-weight: 500;
              color: #aab0b8;
            }

            &[type="text"] {
              background: url(../images/email_ico.png) no-repeat;
              background-position: 14px center;
              border-radius: 4px 4px 0 0;

              &:focus {
                background: url(../images/email_ico_on.png) no-repeat;
                background-position: 14px center;
                z-index: 5;
              }
            }

            &[type="password"] {
              margin-top: -1px;
              background: url(../images/password_ico.png) no-repeat;
              background-position: 14px center;
              border-radius: 0;
              border-top: 1px solid transparent;
              border-radius: 0 0 4px 4px;

              &:focus {
                background: url(../images/password_ico_on.png) no-repeat;
                background-position: 14px center;
                border-top: 1px solid #016ff3;
              }
            }

            &[type="button"] {
              border: 1px solid transparent;
              font-size: 16px;
              font-weight: 500;
              margin-top: 40px;
              cursor: pointer;
              background: #6d769f;
              color: #fff;
              padding: 14px 45px;
            }
            &#login_btn {
              background: #4661dc;
            }
            &#otp {
              background: url(../images/otp_ico.png) no-repeat;
              margin-top: -1px;

              background-position: 14px center;
              border-radius: 0 0 4px 4px;
              border-top: 1px solid transparent;

              &:focus {
                background: url(../images/otp_ico_on.png) no-repeat;
                background-position: 14px center;
                border-top: 1px solid #016ff3;
              }
            }
          }

          .email_box:not(:valid) ~ .close-icon {
            display: none;
          }

          .pw_box:not(:valid) ~ .close-icon {
            display: none;
          }

          button {
            display: inline-block;
            width: 16px;
            height: 16px;
            position: absolute;
            z-index: 1;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            margin: auto;
            padding: 2px;
            background: url(../images/close.png) no-repeat;
            cursor: pointer;
            border-radius: 50%;
          }
        }
      }
    }

    h3 {
      //margin-top: 17px;
      text-align: right;
      font-size: 0.875em;
      font-weight: 500;
      color: #484b51;
      opacity: 1;
      span {
        color: #fc1f53;
        margin-left: 8px;
      }
      &.tit {
        font-weight: 400;
        //margin-top: 40px;
        color: #1d1f35;
        opacity: 0.6;
      }
    }
  }
  .main_footer {
    .cp {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      opacity: 0.5;
    }
  }
}

// main
.lnb_wrap {
  .main_lnb_container {
    max-width: 744px;
    margin: auto;
    .lnb {
      padding-top: 94px;
      padding-bottom: 122px;
      grid-gap: 56px;
      li {
        a {
          div {
            width: 144px;
            height: 144px;
          }
        }
      }
    }
  }
}

//sub

.errp_text {
  .page_tit {
    font-size: 28px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 16px;
  }
  .page_desc {
    line-height: 150%;
    font-size: 14px;
    font-weight: 400;
    color: #696e76;
    margin-bottom: 40px;
    .blck {
      font-weight: 500;
      color: #1d1d1d;
      margin-bottom: 16px;
    }
    ul {
      li {
        margin-bottom: 6px;
        display: flex;
        align-items: center;
        gap: 0 8px;
        &::before {
          content : '';
          display: inline-block;
          width: 3px;
          height: 3px;
          background: #484b51;
          border-radius: 50%;

        }
        &:last-child {
          margin-bottom: unset;
        }
      }
    }
  }
  .btn_list {
    display: flex;
    justify-content: center;
    gap: 0 12px;
  }
}

//button style
.btn_1 {
  color: #4661DC;
  border: 1px solid #4661DC;
  border-radius: 4px;
  background: #fff;
  width: 142px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.blue {
    color: #fff;
    background: #4661DC;
    border-color: transparent;
  }
}

.wrapper {
  .main_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    .lnb_wrap {
      width: 10%;
      min-width: 180px;
      .container.main_lnb_container {
        .lnb {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 20px 0;
          grid-gap: unset;
          li {
            a {
              div {
                width: 80px;
                height: 80px;
                img {
                  width: 50px;
                  height: 50px;
                }
              }
            }
          }
        }
      }
    }
    .main_map {
      width: 90%;
      background: #484b51;
    }
  }
}
