// 로그인
.wrapper {
  &.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 32px;
  }
  .info_wrap {
    padding-top: 64px;
    margin-bottom: 48px;
    .imgwrap {
      margin-bottom: 24px;
    }
    h2 {
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 8px;
      line-height: 160%;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: #696e76;
      line-height: 160%;
    }
  }

  .input_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 56px;

    .login {
      width: 100%;

      p {
        font-size: 2.5em;
        margin-bottom: 32px;
        line-height: 150%;
      }

      .loginform_wrap {
        form {
          position: relative;

          input {
            border: 1px solid #dde1e4;
            width: 100%;
            border-radius: 4px;
            padding: 12px 42px;
            font-size: 16px;

            &:focus {
              outline: none;
              border: 1px solid #016FF3;

              &::placeholder {
                color: #484B51;
              }
            }

            &::placeholder {
              font-weight: 500;
              color: #AAB0B8;
            }

            &[type="text"] {
              background: url(../images/email_ico.png) no-repeat;
              background-position: 14px center;
              border-radius: 4px 4px 0 0;

              &:focus {
                background: url(../images/email_ico_on.png) no-repeat;
                background-position: 14px center;
                z-index: 5;
              }
            }

            &[type="password"] {
              margin-top: -1px;
              background: url(../images/password_ico.png) no-repeat;
              background-position: 14px center;
              border-radius: 0 ;
              border-top: 1px solid transparent;

              &:focus {
                background: url(../images/password_ico_on.png) no-repeat;
                background-position: 14px center;
                border-top: 1px solid #016FF3;
              }
            }

            &[type="button"] {
              border: 1px solid transparent ;
              font-size: 16px;
              font-weight: 500;
              margin-top: 40px;
              cursor: pointer;
              background: #6D769F;
              color: #fff;
              padding: 14px 45px;
            }
            &#login_btn{
              background: #4661DC;
            }
            &#otp{
              background: url(../images/otp_ico.png) no-repeat;
              margin-top: -1px;

                background-position: 14px center;
              border-radius:0 0 4px 4px;
              border-top: 1px solid transparent;

              &:focus {
                background: url(../images/otp_ico_on.png) no-repeat;
                background-position: 14px center;
                border-top: 1px solid #016FF3;
                
              }
            }

          }

          .email_box:not(:valid)~.close-icon {
            display: none;
          }

          .pw_box:not(:valid)~.close-icon {
            display: none;
          }

          button {

            display: inline-block;
            width: 16px;
            height: 16px;
            position: absolute;
            z-index: 1;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            margin: auto;
            padding: 2px;
            background: url(../images/close.png) no-repeat;
            cursor: pointer;
            border-radius: 50%;
          }



        }
      }
    }

    h3 {
      //margin-top: 17px;
      text-align: right;
      font-size: 0.875em;
      font-weight: 500;
      color: #484B51;
      opacity: 1;
      span{
        color: #FC1F53;
        margin-left: 8px;
      }
      &.tit{
        font-weight: 400;
        //margin-top: 40px;
        color: #1D1F35;
        opacity: 0.6;


      }
    }
  }
  .main_footer {
    .cp {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      opacity: 0.5;
    }
  }
}

// main
.lnb_wrap{
  .main_lnb_container{
    max-width: 744px;
    margin: auto;
    .lnb{
      padding-top: 94px;
      padding-bottom: 122px;
      grid-gap: 56px;
      li{
        a{
          div{ width: 144px;
          height: 144px;
          }
        }
      }
    }

  }
}






  .wrapper{
    .main_wrap{
      width: 100%;
      height: 100vh;
      display: flex;
      .lnb_wrap{
        width: 10%;
        min-width: 180px;
        .container.main_lnb_container{
          .lnb{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px 0;
            grid-gap: unset;
            li{
              a{
                div{
                  width: 80px;height: 80px;
                  img{
                    width: 50px;height: 50px;
                  }
                }
              }
            }
          }
        }
      }
      .main_map{width: 90%;
      background: #484B51;}

    }
  }
