.contents {
  width: 100%;

  .container {
    
    .mapwrap {
      .map {
        width: 100%;
        height: 100vh;
        background: #777;
        position: relative;

        span {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 50%;
          left: 40%;
          border: 1px solid red;
        }
      }
    }
  }
}
aside {
  position: fixed;
  z-index: 9999;
  transition: all .3s;
}
.left_aside {
  background: #fff;
  top: 57px;
  padding: 5px;
  border-radius: 5px;
  left: -100%;

  &.active {
    left: 1%;
  }
}

.bottom_aside {
  background: #fff;
  left: 1%;
  bottom: -100%;
  width: 98%;
  height: calc(100vh - 57px);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 1%;

  .container {
  }

  &.active {
    bottom: 0;
  }

  .as_header {
    width: 100%;
    display: flex;
    
    button {
      padding: 5px;
      border: 1px solid #999;
      border-radius: 4px;
      margin-left: auto;
    }
  }
}